$colors: (
  "prefix": "clr",
  "values": (
    "value": white,
  ),
);

$font-families: (
  "prefix": "ff",
  "values": (
    "value": serif,
  ),
);

$font-weights: (
  "prefix": "fw",
  "values": (
    "regular": 400,
  ),
);

$font-sizes: (
  "prefix": "fs",
  "values": (
    "value": 1rem,
  ),
);

$line-heights: (
  "prefix": "lh",
  "values": (
    "value": 100%,
  ),
);

$letter-spacings: (
  "prefix": "ls",
  "values": (
    "value": 0rem,
  ),
);

$spacings: (
  "prefix": "spc",
  "values": (
    "value": 1rem,
  ),
);

$radii: (
  "prefix": "rds",
  "values": (
    "value": 1rem,
  ),
);
