@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"),
    url("../assets/fonts/Inconsolata/static/Inconsolata-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"),
    url("../assets/fonts/Inconsolata/static/Inconsolata-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"),
    url("../assets/fonts/Inconsolata/static/Inconsolata-Bolx.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"),
    url("../assets/fonts/Inconsolata/static/Inconsolata-ExtraBold.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
