@mixin font-styles($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

// media queries mixins
@mixin screen-tablet {
  @media screen and (min-width: 48rem) {
    @content;
  }
}

@mixin screen-desktop {
  @media screen and (min-width: 80rem) {
    @content;
  }
}
